@model MyProject.Models.Card

@{
    ViewBag.Title = "Details";
}

<h2>Details For Customers Card</h2>

<div class="form-group">
    <br />
    Onoma Card:@Model.CardNumber
    
</div>
<div>

    @Html.ActionLink("Back to Cards", "Index")
</div>
<br />

<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
</div>