@model IEnumerable<MyProject.Models.BankAccount>
@{
    ViewBag.Title = "Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> List Of My Accounts</h2>


<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model=>model.Id)</th>
            <th>@Html.DisplayNameFor(model=>model.AccountNumber)</th>

        </tr>
 </thead>
    <tbody>
        @foreach(var bankacount in Model)
        {
            <tr>
                <td>@Html.DisplayNameFor(bankacount=>bankacount.Id)</td>
                <td>@Html.DisplayNameFor(bankacount=>bankacount.AccountNumber)</td>
            </tr>
        }

    </tbody>




</table>

