@model MyProject.Models.BankAccount
@{
    ViewBag.Title = "Edit BankAccount";
}

<h2>Edit BankAccount</h2>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">

            @Html.LabelFor(x => x.AccountNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.AccountNumber, new { @class = "form-control" })
            </div>
           
        </div>
            <br />


            <div class="form-group">
                <div class="col-md-offset-2 col-lg-1 md-10">
                    <input type="submit" name="submit" value="Save Changes" />
                </div>

            </div>

        </div>
        <br />
        <div>
            @Html.ActionLink("Back to AccountNumbers", "Index")
        </div>






}
