@{
    ViewBag.Title = "Home Page";
}


    


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">My Virtual Bank</h1>
        <h2 class="display-4">Εξοικειωθείτε με το e-Banking </h2>
        <p class="lead"></p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQtbr_jJ8KZKuHG0QcdZuqcr_BZrYRf1umpvg&usqp=CAU" class="img-fluid" alt="e-Banking">
    </div>

    
</div>


  



    